*
{
	margin: 0px;
	//border: 1px solid red;
}

/*display data*/
#date
{
	border: solid 1px black;
}

p
{
	text-align: justify;
	text-indent: 10px;

}

div#all
{
	width: 900px;
	margin: -20px auto 0px auto;
	border-right: solid 1px black;
}

#header
{
	background-color: white;
	height: 220px;
	border-left: solid 1px black;
	border-top:solid 1px black;
}


.labels
{
    border: solid 1px black;
    border-radius: 3px;
}

/* home image */
#dictionaryHome
{
	top: 30px;
	position: relative;
	left: 0.6%;
	width: 200px;
}

/* paginaincial label */
#paginainicial
{
	width: 200px;
	position: relative;
	left: 50.3px;
  padding: 8px 50px 8px 50px;
}
/* paginaincial label */

/* indice label */
#indice
{
    position: relative;
    bottom: 23px;
    left: 1%;
    padding: 6px 30px 6px 30px;

}

#indice a
{
	color: black;
}
/* indice label */


/* characters display */
#characters
{
	width: 40px;

}

#displayACharacter
{
	background-color: white;
	border-left: solid 1px black;
	border-top:solid 1px black;
	border-bottom: solid 1px black;
	height: 50px;
}

.section
{
	background-color: #0c5460;
	border-left: 1px solid #606060;
}

section#mysection
{
	padding-top: 20px;
	display: block;
	width: 700px;
	float: left;
	border-right: 1px solid #606060;
	border-left: 1px solid #606060;
}

#article
{
	fonte-size: 13pt;
	color: #606060;
	background-color: #dddddd;
	padding: 5px 0px 5px 10px;
	margin: 10px 0px 10px 0px;
	word-wrap: break-word;
}

#footer
{
	background-color: white;
	border-top: solid 1px black;
	border-left:solid 1px black;
	border-bottom: solid 1px black;
	height: 100px;
	clear: both;
	overflow: hidden;
}

footer
{
	background-color: grey;
	margin: 7px;
	position: relative;
	top: 50%;
	text-align: center;
	padding: 10px;
}

.cop
{
	color: black;
}
/* search bar css*/
.sbx-custom {
	display: inline-block;
	position: relative;
	width: 492px;
	height: 27px;
	white-space: nowrap;
	box-sizing: border-box;
	font-size: 14px;
	top: 40%;
	right: 15.5%;
}

.sbx-custom__wrapper {
	width: 100%;
	height: 100%;
}

.sbx-custom__input {
	display: inline-block;
	-webkit-transition: box-shadow .4s ease, background .4s ease;
	transition: box-shadow .4s ease, background .4s ease;
	border: 0;
	border-radius: 5px;
	box-shadow: inset 0 0 0 1px #000000;
	background: #FFFFFF;
	padding: 0;
	padding-right: 63px;
	padding-left: 11px;
	width: 100%;
	height: 100%;
	vertical-align: middle;
	white-space: normal;
	font-size: inherit;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.sbx-custom__input::-webkit-search-decoration, .sbx-custom__input::-webkit-search-cancel-button, .sbx-custom__input::-webkit-search-results-button, .sbx-custom__input::-webkit-search-results-decoration {
	display: none;
}

.sbx-custom__input:hover {
	box-shadow: inset 0 0 0 1px black;
}

.sbx-custom__input:focus, .sbx-custom__input:active {
	outline: 0;
	box-shadow: inset 0 0 0 1px #2920F7;
	background: #FFFFFF;
}

.sbx-custom__input::-webkit-input-placeholder {
	color: #AAAAAA;
}

.sbx-custom__input::-moz-placeholder {
	color: #AAAAAA;
}

.sbx-custom__input:-ms-input-placeholder {
	color: #AAAAAA;
}

.sbx-custom__input::placeholder {
	color: #AAAAAA;
}

.sbx-custom__submit {
	position: absolute;
	top: 0;
	right: 0;
	left: inherit;
	margin: 0;
	border: 0;
	border-radius: 0 4px 4px 0;
	background-color: black;
	padding: 0;
	width: 35px;
	height: 100%;
	vertical-align: middle;
	text-align: center;
	font-size: inherit;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.sbx-custom__submit::before {
	display: inline-block;
	margin-right: -4px;
	height: 100%;
	vertical-align: middle;
	content: '';
}

.sbx-custom__submit:hover, .sbx-custom__submit:active {
	cursor: pointer;
}

.sbx-custom__submit:focus {
	outline: 0;
}

.sbx-custom__submit svg {
	width: 21px;
	height: 21px;
	vertical-align: middle;
	fill: #FFFFFF;
}

.sbx-custom__reset {
	display: none;
	position: absolute;
	top: 3px;
	right: 42px;
	margin: 0;
	border: 0;
	background: none;
	cursor: pointer;
	padding: 0;
	font-size: inherit;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	fill: rgba(0, 0, 0, 0.5);
}

.sbx-custom__reset:focus {
	outline: 0;
}

.sbx-custom__reset svg {
	display: block;
	margin: 4px;
	width: 13px;
	height: 13px;
}

.sbx-custom__input:valid ~ .sbx-custom__reset {
	display: block;
	-webkit-animation-name: sbx-reset-in;
	animation-name: sbx-reset-in;
	-webkit-animation-duration: .15s;
	animation-duration: .15s;
}

@-webkit-keyframes sbx-reset-in {
	0% {
		-webkit-transform: translate3d(-20%, 0, 0);
		transform: translate3d(-20%, 0, 0);
		opacity: 0;
	}
	100% {
		-webkit-transform: none;
		transform: none;
		opacity: 1;
	}
}

@keyframes sbx-reset-in {
	0% {
		-webkit-transform: translate3d(-20%, 0, 0);
		transform: translate3d(-20%, 0, 0);
		opacity: 0;
	}
	100% {
		-webkit-transform: none;
		transform: none;
		opacity: 1;
	}
}

/* search bar css*/

article.container
{
	width: 500px;
}

/* alfabeto */

.alphabet
{
	position: relative;
	top: 20%;
	left: 15%;
	width: 765px;
}


/* alfabeto */

ul a
{
 	color: black;
}


 a
 {
 	text-decoration:none;
 }

/* initial screen setttings */
#frame
{
	border: solid 5px black;
	width: 900px;
	position: relative;
	text-align: center;
	height: 500px;
	top: 100px;
	margin: 0px auto 0px auto;
}

#frame h1
{
	position: relative;
	top: 150px;
}

#myButton
{
	position: relative;
	border: solid 2px black;
	top: 300px;
	height: 50px;
	width: 200px;
	font-size: 20pt;
}
